body {
  background-color: #a3d5ff;
}

h1 {
  text-decoration-line: underline;
  text-decoration-color: blue;
}

img {
  width: 300px;
}

ul {
  text-size: 300px;
}
p{
  text-size: 30px;
  text-decoration-line: underline;
  text-decoration-color: brown;
}
